@model DataModel.EventModel
     
 @{ ViewBag.Title = "EventModel"; }

<div class="col-md-4">
    <a href="@Url.Action("EventDetails","Event",new {id = Model.Id})">
        <ul class="spinning">
            <li class="room"><div class="time">@Html.DisplayFor(model => model.StartTime)</div><div class="type">@Html.DisplayFor(model => model.Type)</div></li>
            <li class="live">@Html.DisplayFor(model => model.Title)</li>
            <div class="clear"></div>
        </ul>
        <div class="view view-fifth">
            <img src="@Model.MainPhoto" class="img-responsive" alt="" />
            <div class="mask">
                <div class="info">Read More</div>
            </div>
        </div>
        <div class="shortDesc">
            @Html.DisplayFor(model => model.ShortDescription)
        </div>
    </a>
</div>