@model General_EvetsParty_MVC.Models.EventDetailsViewModel

@{
    ViewBag.Title = "EventDetails";
}
<link href="/Content/EventDetails/EventDetailsStyles.css" rel="stylesheet" />

<div class="detailsmain">
    
    @if (Model.IsCharitable == true)
    {
        <span id="charitable">Charitable</span>
    }
    @if (Model.IsFreeEntrance == true)
    {
        <span id="free">Free Entrance</span>
    }
    <br />
    <div class="title">
        @Html.DisplayFor(model => model.Title)
    </div>
    <div id="second">
        <div id="typediv">
            <span>Type: </span>
            <span>@Html.DisplayFor(model => model.Type)</span>
        </div>
        <div id="catdiv">
            <span>PersonCategory: </span>
            <span>@Html.DisplayFor(model => model.PersonsCategory.Category)</span>
        </div>
    </div>
    <br />
    <img src="@Model.MainPhoto"/>
    <div class="first">        
        <div class="time">
            <div>
                <span>Start :</span>
                <span>@Html.DisplayFor(model => model.StartTime, "DateTimeLong")</span>
            </div>
            @if (Model.EndTime != null)
            {
                <div>
                    <span>End :</span>
                    <span>@Html.DisplayFor(model => model.EndTime, "DateTimeLong")</span>
                </div>
            }
        </div>
        <div class="organizer">
            <div class="orginfo">
                <img src="@Model.Publisher.Photo" />
                <div class="publsherlogin">@Model.Publisher.Login</div>
            </div>
        </div>
    </div>

   
    <div>
        <span>Where: </span>
        <span>@Html.DisplayFor(model => model.Place)</span>
    </div>
    <br />
    <div>
        <span>About event: </span>
        <span>@Html.DisplayFor(model => model.Description)</span>
    </div>
    <br />
    <div>
        <span>Organizers: </span>
        <span>@Html.DisplayFor(model => model.Organizers)</span>
    </div>
    <br />
    <div>
        <span>Sponsors: </span>
        <span>@Html.DisplayFor(model => model.Sponsors)</span>
    </div>
    <br />
    <div>
        <span>Enter: </span>
        <span>@Html.DisplayFor(model => model.Enter)</span>
    </div>    
 </div>
